@media (max-width: 676px){
	.menu{
		width: 100%;
		flex-direction:column;
		background-color: whitesmoke;
		font-family: 'Prompt', sans-serif;
		background-color: #037f99;
	}

	.show{
		display: none;
	}

	#el_menu{
		color: #dfdfdf;	
		padding: 5px;
		border: 0;
		align-content: flex-start;
	}

	li{
		padding: 8px;
		align-content: flex-start;
		border-bottom: 1px solid white;
		width: 90%;
	}

	ul li a{	
		color: #dfdfdf;	
		padding: 5px;
		border: 0;
		align-content: flex-start;
	}

	ul li:hover{
		background: #f87673;
		border-bottom: 1px solid #f87673;
		width: 90%;
	}

	ul li a:hover{
		color: whitesmoke;
	}

	.el-menu:hover{
		background-color: #f87673;
		color: whitesmoke;
		width: 94%;
	}

	ul{
		flex-direction: column;

	}
	.el-menu{
		visibility: visible;
		width: 90%;
	}
	img{
		width: 90%;
		height: 90%;
	}

	.fotos-peque{
		flex-direction: column;
	} 
	.imgs{
		flex-direction: column;
	}
	.imgs img{
		width: 70%;
		padding-left: 70px;
	}

}

@media (min-width: 677px){
	.menu{
		width: 100%;
		font-family: 'Baloo Paaji', sans-serif;
	}
	.el-menu{
		display: none;
	}
	.show{
		visibility: visible;
	}

	ul li a{
		background-color: #037f99;
	}
	ul li a:hover{
		color: #ecf0f1;
		background-color:#f87673;
	}

	ul li a{
		color: #bdc3c7;
		padding: 10px;
		font-size: 1.3em;
	}
}